.inputFieldContainer {
  display: flex;
  flex-direction: column;
  .inputLabel {
    color: #0c0b0b;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
  }
  .inputField {
    flex-shrink: 0;
    padding: 10px 0 10px 16px;
    color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
    border-radius: 8px;
    background: #333;
    outline: none;
    border: none;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
