.buttonComponent {
  color: #fff;
  min-width: 12%;
  padding: 8px;
  text-align: center;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #bb261a;
}
