.buttonComponent {
  color: #fff;
  width: 174px;
  padding: 8px;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  outline: none;
  border: none;
  border-radius: 8px;
  background: #bb261a;
}
